$color-grayLight: #DCE1DA;
$color-5f6368: #5F6368;
$border-article: #E3E3E3;
$color-bg-section: #F2F4F1;
$bg-article:#F8F8F8;
$color-orange: #E0752F;
$color-white: #FFFFFF;
$color-text: #343434;
$font-family-poppins: "Poppins";
$font-family-roboto: "Roboto";
$font-style-normal: normal;
$font-weight-semiBold: 600;
$font-weight-normal: normal;
$font-weight-medium: 500;
$font-weight-regular:400;
$font-size-16: 16px;
$font-size-39: 39px;
$font-size-48: 48px;
$character-spacing-0-22: 0.22px;
$character-spacing-0-55: 0.55px;
$character-spacing-0-67: 0.67px;
$line-spacing-21: 21px;
$line-spacing-28: 28px;
$line-spacing-45: 45px;
$line-spacing-48: 48px;
$size-2rem: 2rem;
$size-100: 100%;
$size-10: 10%;
$size-50:50%;
$small: 576px;
$medium:768px;
$large: 992px;
$extra-large:1200px;

