.header {
  width: $size-100;
  border-bottom: 1px solid $color-orange;
  position: fixed;
  top: 0;
  z-index: 2000;
  transition: all 0.7s ease-in;
}

.header-container{
  width: $size-100;
  padding: 33px 100px;
  @include flexbox();
  flex-wrap: nowrap;
}

.header__navigation{
  @include flexbox();
  flex-grow: 1;
  justify-content:flex-end;
}

.navigationList{
  list-style: none;
  @include flexbox();
}

.navigationList__item{
  padding-right: 57px;
}

.navigationList__item a{
  @include configLink();
  color: $color-white;
  font-weight: $font-weight-medium;
}

.navigationList__item:last-child{
  padding-right: 0;
}

  


