.main{
  width: $size-100;
}

.main__section-primary{
  height: 768px;
}

.slider{
  width: 100%;
  padding: 0 100px;
  height: 100%;
  @include flexbox();
  @include bg(url("/dist/images/slider.png"), cover, 100% 100%);
}

.slider-group-items{
  color:$color-white;
}
