.main {
  width: $size-100;
}

/* primera section */
.main__section-primary {
  height: 768px;
  // min-height: 732px;
}

.slider {
  width: 100%;
  padding: 0 100px;
  height: 100%;
  @include flexbox();
  @include bg(url("/dist/images/slider.png"),
    cover,
    100% 100%);
  position: relative;
}

.slider-items {
  width: 100%;
  // height: 45%;
  @include flexbox();
  align-content: center;

  h1 {
    @include font($font-family-poppins,
      $font-size-48,
      $color-white);
    letter-spacing: $character-spacing-0-67;
    line-height: $line-spacing-48;
    width:$size-100;
    font-weight: $font-weight-semiBold;
  }

  h2 {
    @include font($font-family-roboto,
      $font-size-16,
      $color-white);
    font-weight: $font-weight-medium;
    line-height: $line-spacing-21;
    margin-top: 30px;
    width:$size-100;
  }

  a {
    @include configLink();
    @include btn($color-orange,
      none,
      25px,
      14px 32px);
    @include font($font-family-roboto,
      $font-size-16,
      $color-white);
    font-weight: $font-weight-medium;
    display:inline-block;
    margin-top: 39px;
  }
}

.d-lg {
  @media screen and (max-width: 991px) {
    display:none;
  }
  
}

.slider-menu {
  position: absolute;
  top: 560px;
  left: 100px;
}

.slider-menu__item {
  cursor: pointer;
  width: 8px;
  height: 8px;
  margin-right: 13px;
  background-color: $color-5f6368;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.slider-menu__item:last-child {
  margin-right: 0;
}

.slider-menu__item-active {
  background-color: $color-orange;
}


/* segunda section */
.main__section-secondary {
  width: 100%;
  min-height: 672px;
  @include flexbox();
  padding: 0 299px;
  position: relative;
  align-content:center;
}

.main__section-secondary:after{
  content: "";
  display: block;
  background-color:$color-orange;
  width: 32px;
  top:150px;
  left: 0;
  height: 384px;
  position: absolute;
}

.main__section-section__title {
  width: $size-100;
  line-height: $line-spacing-45;
  @include font($font-family-poppins,$font-size-39, $color-text);
  font-weight: $font-weight-semiBold;
  letter-spacing: $character-spacing-0-55;
}

.main__section-section__subtitle{
  margin-bottom:44px;
  @include font($font-family-poppins,$font-size-39,$color-orange);
  line-height: $line-spacing-45;
  font-weight: $font-weight-semiBold;
  letter-spacing: $character-spacing-0-55;
}

.main__section-section__parraf{
  line-height: $line-spacing-28;
  color:$color-text;
  letter-spacing: $character-spacing-0-22;
}

.main__section-tertiary {
  width: $size-100;
  background-color: $color-bg-section;
  @include flexbox();
  justify-content:center;
  height: 100vh;
  z-index: 0;
}

.article-products{
  position: relative;
  // width: 966px;
  // height: 552px;
  width:70vw;
  height: 40vw;
  max-width: 126vh;
  max-height: 72vh;
}

.article-products__container-img{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}


.article-products__container {
  background-color:$color-orange;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 34vw;
  height: 22vw;
  z-index: 100;
}

.main__section-tertiary:after{
  content: '';
  display: block;
  position: absolute;
  width: 30vw;
  height: 100vh;
  background-color: $color-grayLight;
  right: 0;
  z-index: 5;

}

.container-img__item {
  width: $size-100;
  height: $size-100;
}

.article-products__container {
  color:$color-white;
  @include flexbox();
  align-content:center;
  padding: 0 49px;
}

.article-products__container h3 {
  font-weight: $font-weight-medium;
  width: $size-100;
  line-height: $line-spacing-21;
}

.article-products__container p:nth-child(2){
  font-family:$font-family-poppins;
  font-weight: $font-weight-medium;
  font-size:$font-size-39;
  line-height: 59px;
  margin-bottom: 19px;
}

.article-products__container p:nth-child(3){
  line-height: $line-spacing-21;
}